body {
  font-family: "Gowun Dodum";
  padding: 20px 60px;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

button {
  white-space: nowrap;
}
